@font-face {
    font-family: 'Tilt Neon';
    src: url("fonts/TiltNeon[HROT\,VROT].woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}
    
    body{
    background-color: rgba(85,255,225);
    font-family: 'Tilt Neon', sans-serif;
    font-size:30px;
}
/* how text will appear on mobile */
@font-face {
    font-family: 'Tilt Neon';
    src: url("fonts/TiltNeon[HROT\,VROT].woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}
    
    body{
    background-color: rgba(85,255,225);
    font-family: 'Tilt Neon', sans-serif;
    font: size 25px;
}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    width: min(100% - 3rem, 80ch);
    margin-inline: auto;
}
/* variable hero font animation mobile*/
h3{
    font-weight: 20; 
    text-align: center;
    font-size: 8em;
    line-height: 10px;
    animation: weightChange 7s infinite;
}
@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "HROT" -30, "VROT" -45;
    }
    50%{font-variation-settings: "HROT" -20, "VROT" 45;
    }
    
}
/* variable font Variation Animation desktop */
.vertical{
    animation: vrotChange 9s infinite;
}

@keyframes vrotChange {
    0%, 100%{
        font-variation-settings: "HROT" 0, "VROT" -45;
    }
    50%{font-variation-settings: "HROT" 0, "VROT" 45;
    }
     
}
.horizontal{
    animation: hrotChange 9s infinite;
}

@keyframes hrotChange {
    0%, 100%{
        font-variation-settings: "HROT" -45, "VROT" 0;
    }
    50%{font-variation-settings: "HROT" 45, "VROT" 0;
    }

}
/* variable font Variation Animation mobile*/
.vertical{
    animation: vrotChange 9s infinite;
}

@keyframes vrotChange {
    0%, 100%{
        font-variation-settings: "HROT" 0, "VROT" -45;
    }
    50%{font-variation-settings: "HROT" 0, "VROT" 45;
    }
     
}
.horizontal{
    animation: hrotChange 9s infinite;
}

@keyframes hrotChange {
    0%, 100%{
        font-variation-settings: "HROT" -45, "VROT" 0;
    }
    50%{font-variation-settings: "HROT" 45, "VROT" 0;
    }

}
/* CSS for the footer mobile*/
footer{
    background-color: rgb(166,253,41);
}

/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
.page-wrapper{
display: grid;
grid-gap: 25px;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "h v"
    "a a";
}

.history {
grid-area: h;
}

.variations{
grid-area: v;
}

.alphabet {
grid-area: a;
}

/* CSS for the footer */
footer{
    background-color: rgb(166,253,41);
    padding-bottom: 5px;
}
 
/* variable font animation */
h3{
    font-weight: 20; 
    text-align: center;
    font-size: 8em;
    line-height: 15px;
    animation: weightChange 7s infinite;
}

@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "HROT" -30, "VROT" -45;
    }
    50%{font-variation-settings: "HROT" -20, "VROT" 45;
    }
    
}
/* variable font that changes on hover */
.variable-font{
    font-weight: 1;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0;
}
}
/* Fancy button styles */
.shadow {
    background-color: #ff3b94;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 5px 15px rgba(55,1,58);
    text-decoration: none;
    border: none;
    outline: none;
    display:inline-block;
    margin-bottom:100px;
}

.shadow:hover {
    background-color: #a6fd29;
}
h5{
    padding-left: 30px;
}